/* Start Header */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&family=Poppins:wght@100;300;600&display=swap');
a {
    text-decoration: none;
}
#dude {
    display: none;
}
.brand-logo {
    width: auto;
    float: none;
    padding: 5px 0;
    height: 80px;
    margin: auto;
    display: block;
}
.brand-logo img {
    width: auto;
    float: left;
    padding-top: 0;
    height: 70px;
    margin-left: -80px;
}
header {
    height: auto;
    overflow: hidden;
    width: 100%;
    padding: 0;
}

#main {
    overflow-x: hidden;
}

#qr-div {
    width: 250px;
    margin: auto;
    display: block;
}

/* End Header */

/* Start Form page */
header {
    position: fixed;
    z-index: 999;
    top: 0;
    background-color: #ffffff;
    width: 100%;
    height: 90px;
    transition: all 0.15s linear;
    box-shadow: 0px 10px 35px rgb(0 0 0 / 5%);
    overflow: hidden;
}

#top-section{
    overflow: hidden;
}

body {
    overflow-x: hidden;
    font-family:"Pyidaungsu"!important;
}

a {
    color: #000000 !important;
    text-decoration: none !important;
    font-family: 'poppins';
    background-color: transparent;
}
a:hover {
    color: #000000 !important;
    font-weight: bolder !important;
    text-decoration: underline #FFB800 !important;
}

#yttc-form-div {
    width: 400px;
    height: auto;
    margin-left: 120px !important;
    margin: 180px auto;
    overflow: hidden;
    padding: 20px;
    font-weight: bold;
    background: #fff;
    display: block;
    box-shadow: 0px 2px 8px rgb(0 0 0 / 50%);
    border-radius: 5px;
}
.form-control {
    font-weight: bold;
}
#yttc-form-div label {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 550;
    font-size: 16px;
    line-height: 24px;
}
#yttc-form-div p {
    font-weight: bold;
}
main {
    padding: 0px;
}
#yttc-bg {
    width: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    min-height: 100vh;
    height: 100%;
}
#yttc-title {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
#mdy-title {
    font-family: 'poppins';
    font-style: normal;
    font-weight: 550;
    font-size: 46px;
    line-height: 65px;
    text-align: center;
    position: relative;
    z-index: 1;
}
.footer-content {
    width: max-content;
    display: block;
    overflow: hidden;
    margin: auto;
    margin-bottom: 20px;
}
#facebook {
    width: 55px;
}
#linked {
    width: 57px;
    margin-right: 40px;
    margin-left: 30px;
}
#web {
    width: 45px;
}
.footer-content img{
    width: 40px;
}
.footer-content2 {
    width: 240px;
    display: block;
    overflow: hidden;
    margin: auto;
}
.footer-block {
    width: max-content;
    display: block;
    overflow: hidden;
    margin: auto;
}
.container-footer {
    width: auto;
    text-align: center;
    display: block;
    background-color: #323232;
    overflow: hidden;
    margin: auto;
    height: 85px;
}
#address {
    margin-top: 40px;
    font-family: 'Poppins';
    color: white;
}
#mdy-p {
    font-family: 'poppins';
    font-style: normal;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    position: relative;
    z-index: 1;
}
.top-content{
    width: max-content;
    display: block;
    overflow: hidden;
    margin: auto;
    margin-top: 130px;
}
.mid-content{
    width: max-content;
    display: block;
    overflow: hidden;
    margin: auto;
    margin-top: -170px;

}
.mid-text{
    padding: 80px;
    align-content: center;
    flex-direction: column;
    vertical-align: middle;
    display: flex;
    align-items: normal;
}
.mid-text h1{
    font-family: 'poppins';
    font-style: normal;
    font-weight: 550;
    font-size: 38px;
    text-align: left;
}
.mid-content img{
    width: 725px;
}
.bot-content{
    width: max-content;
    display: block;
    overflow: hidden;
    margin: auto;
    margin-top: -120px;
}
.bot-content img{
    width: 725px;
    margin-left: 30px;
}
#detail{
    width: 235px;
    margin-bottom: -40px;
}
#create-acc-btn {
    border-radius: 5px;
    background: #000000;
    color: #FFD300;
    filter: drop-shadow(0px 3px 7px rgba(0, 0, 0, 0.051));
    padding: 5px 70px;
    border: none;
    background-image: none;
    margin-top: 10px;
    transition: 0.25s ease;
}

#create-acc-btn:hover {
    background: #3b3b3b;
}

#detail2{
    width: 210px;
    margin-bottom: -40px;
}
#detail3{
    width: 350px;
}
span {
    color: #fdbe34;
}
#chat{
    width: 200px;
    margin-left: 44%;
}
#map{
    width: 1380px;
    margin-top: -160px;
}
#yttc-form-div h2 {
    font-size: 24px;
    line-height: 40px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
#submit-btn {
    width: 100%;
    margin-top: 10px;
    height: 40px;
    border: 0px;
    padding: 10px;
    background: #000000;
    color: #FFD300;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}
#half-div {
    width:70px;
    float: left;
}
.hider {
    font-family: poppins;
    margin-left: 915px;
    margin-top: 30px;
}
#nav {
    margin-left: 30px;
}
.form-control {
    font-size: 14px!important;
}
.form-group {
    margin-bottom: 1rem;
    overflow: hidden;
}
#lan-link img {
    width: 50px;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.3);
}
#lan-link {
    float: right;
}
#confirm-btn {
    width: 200px;
    height: 45px;
    border: 0px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.6);
    font-size: 20px;
    color: white;
    text-align: center;
    display: block;
    margin: auto;
    background: green;
    border-radius: 5px;
}
#full-div {
    width: 100%;
    height: 40px;
    overflow: hidden;
}
#success-icon {
    background: #fff;
    width: 252px;
    position: relative;
    padding: 76px;
    height: 252px;
    margin: -275px auto 0px auto;
    border: 2px solid green;
}
#success-icon img {
    width: 100px;
    margin: auto;
    display: block;
}

/* End Form page */

/* Start Responsive */

@media(max-width:767px){
    #yttc-form-div {
        width: 320px!important;
        margin-left: 75px !important;
        margin-block-start: auto;
    }
    .hider {
        font-family: poppins;
        margin-left: 95px;
        margin-top: 20px;
    }
    .brand-logo img {
        width: auto;
        float: left;
        margin-left: 20px;
        padding-top: 0;
        height: 60px;
    }
    #chat {
        width: 200px;
        margin-left: 120px;
    }
    .top-content {
        width: auto;
        display: block;
        overflow: hidden;
        margin: auto;
        margin-top: 130px;
    }
    #mdy-title {
        font-family: 'poppins';
        font-style: normal;
        font-weight: 550;
        font-size: 35px;
        line-height: 55px;
        text-align: center;
        position: relative;
        z-index: 1;
    }
    #mdy-p {
        font-family: 'poppins';
        font-style: normal;
        font-size: 16px;
        line-height: 33px;
        text-align: center;
        position: relative;
        z-index: 1;
    }
    #map {
        width: 700px;
        margin-left: -150px;
        margin-top: -90px;
    }
    .mid-content {
        width: auto;
        display: block;
        overflow: hidden;
        margin: auto;
        margin-top: -110px;
    }
    .mid-content img {
        width: 515px;
    }
    .mid-text {
        padding: 30px;
        align-content: center;
        flex-direction: column;
        vertical-align: middle;
        display: flex;
        align-items: normal;
    }
    #dude {
        margin-top: 40px;
        display: inherit;
        width: 390px;
        margin-bottom: 50px;
    }
    #person {
        display: none;
    }

}

/* End Responsive */
